Binaries
DerivedDataCache
Intermediate
Saved
Build

.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcwoekspace
.idea/.idea.Aura/.idea/vcs.xml
.idea/.idea.Aura/.idea/indexLayout.xml
.idea/.idea.Aura/.idea/encodings.xml
.idea/.idea.Aura/.idea/.name
.idea/.idea.Aura/.idea/projectSettingsUpdater.xml
.idea/.idea.Aura/.idea/workspace.xml
